@font-face
{
  font-family: plstk;
  src: url(plstk/plstk.ttf);
}
@font-face
{
  font-family: Homestead;
  src: url(Homestead/Homestead-Display.ttf);
}
@font-face
{
  font-family: ostrich-sans;
  src: url(ostrich-sans/ostrich-bold.ttf);
}


/* Space out content a bit */
body {
  font-family: Open Sans,Source Sans Pro,Helvetica,Arial,sans-serif;
  font-weight: 300;
  background: url('images/me-bg.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {

}

.jumbotron {
  background-color: rgba(10, 10, 10, 0.6);
  width: 460px;
  margin-left: 60px;
}

.jumbotron h1{
  font-family: ostrich-sans;
  font-size: 100px;
  color: rgb(177, 224, 232);
  margin: 12px 0;
  text-rendering: optimizelegibility;
}

.jumbotron p {
  color: #E2E2E2;
  font-size: 18px;
}

